/*Logo Banner*/
#Logo img{
    float: center;
    padding-top: 10px;
    position: relative;
    width: 160px;
    height: 56px;
    left: 175px;
}
#gear-banner img{
    position: relative;
    float: right; 
    top: 22px;
    left:15px;
    width: 25px;
    height: 25px; 
}
#acc h1{
    font-size: 12px;
    color: black;
    position: relative;
    float: left;
    top: 9px;
    right:13px;
}
#side_but img{
    width: 27px;
    height: 18px;
    position: relative;
    top: 22px;
    left:15px;
}
#account{
    text-align:right;
    padding:0px;
}
/*End Logo Banner*/
/*Group Banner*/
#Users img{
    position: relative;
    top: 9px;
    left: 10px;
}
#NUsers{
    font-size: 20px;
    text-decoration: none;
    position: relative;
    top: 12px;
    right: 285px;
    color: white;
}
#Heart img{
    width: 31px;
    height: 28px;
    position: relative;
    float: right;
    right: 80px;
    top: 13px;
}
#GroupInfo{
    float: center;
    text-decoration: none;
    color: white;
    position: relative;
    left: 175px;
    top: 10px;
    font-size: 30px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}

.custom-search-form{
    margin-left: auto;
    margin-right: auto;
    width: screen.width;
}

#trackValue {
    width: 75%;
}
#searchButton {
    width: 20%;
    float: left;
}
#AlbumArt img {
    height: 100px;
    width: 100px;
}
#Background{
    background-color: #b0c4de;
}

